* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf5f5;
}

header {
    text-align: center;
    margin-top: 150px;

    button {
        margin-top: 20px;
        border: none;
        font-size: 25px;
        cursor: pointer;
        margin-left: 40px;
        color: black;
        background-color: #faf5f5;
    }

    input {
        width: 500px;
        height: 50px;
        font-size: 25px;
    }
}

section {
    margin-top: 30px;
    text-align: center;
    font-size: 22px;

    .length {
        width: 100px;
        height: 25px;
        font-size: 15px;
    }

    label {
        display: inline-block;
        max-width: 500px;
        margin-left: -100px;
    }

    .upperCase {
        margin-left: 280px;
    }

    .lowerCase {
        margin-left: 280px;
    }

    .nums {
        margin-left: 320px;
        margin-right: -20px;
    }

    .symbol {
        margin-left: 260px;
        margin-right: -15px;
    }

    input {
        display: inline-block;
        width: 100px;
        margin-right: -20px;
        margin-left: 300px;
    }

    button {
        margin-top: 50px;
        width: 150px;
        height: 40px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
    }

    .create {
        background-color: #0077b6;
        color: white;
    }

    .copy {
        margin-left: 70px;
        background-color: #f79872;
    }
}